*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
}
a:hover {
  opacity: 0.7;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: azure;
}

header img {
  max-width: 200px;
}

header ul {
  display: flex;
  list-style: none;
}
/* 
header ul li {} */

header ul li {
  margin: 0 15px;
}
header ul li a {
  color: #191c03;
}

header ul li:first-child {
  margin-left: 0;
}

header ul li:last-child {
  margin-right: 0;
}


@media (max-width: 650px) {
  header {
    flex-direction: column;
  }
  header img {
    margin-bottom: 10px;
  }
  header ul {
    margin-bottom: 10px;
  }
}

.hero {
  background-image: url(../public/img/hero.jpg);
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: azure;
}

.hero > h1 {
  margin-bottom: 5px;
  font-size:xx-large;  
}

.hero > h3 {
  font-size: x-large;
}

.hero .btn {
  margin-top: 30px;
  padding: 15px 50px;
  border-radius: 10px;
  text-decoration: none;
  color: #191c03;
  background-color:azure;
  text-transform: uppercase;
}

