*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
}

a:hover {
  opacity: 0.7;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: azure;
}

header .logo-nav {
  display: flex;
  align-items: center;
}
header .logo-nav img {
  max-width: 50px;
}

header .logo-nav span {  
  margin-left: 10px;
  font-family: Cookie;
  color: #f7bc70;
  font-size: 2.3rem;
}

header ul {
  display: flex;
  list-style: none;
}
/* 
header ul li {} */

header ul li {
  margin: 0 15px;
}
header ul li a {
  color: #f7bc70;
}

header ul li:first-child {
  margin-left: 0;
}

header ul li:last-child {
  margin-right: 0;
}


@media (max-width: 650px) {
  header {
    flex-direction: column;
  }
  header img {
    margin-bottom: 10px;
  }
  header ul {
    margin-bottom: 10px;
  }
}

.hero {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url(../public/img/hero.jpg);
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: azure;
  text-align: center;
}

.hero h1 {
  margin-bottom: 5px;
  font-size:xx-large;  
}

.hero h3 {
  font-size: x-large;
}

.hero .btn {
  font-size: 1.3rem;
  margin-top: 30px;
  padding: 20px 80px;
  border-radius: 10px;
  color: aliceblue;
  background-color: #f7bc70;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .hero h1 {
    font-size: x-large;
  }
  
  .hero h3 {
    font-size: medium;
  }
  
  .hero .btn {
    padding: 10px 30px;
    border-radius: 7px;
  }
}

.know-us .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.know-us {
  width: 98%;
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.know-us h1 {
  font-family: Cookie;
  margin-bottom: 10px;
  font-size: 4.8rem;
  color: #f7bc70;
}

.presentation {
  text-align: center;
  width: 50%;
}

.presentation > p {
  font-size: larger;
  color: #191c03;
  margin-bottom: 30px;
}

.container > hr {
  border-color: #f7bc70;
  opacity: 0.4;
  align-self: center;
  border-style:outset;  
  width: 25%;
  margin-bottom: 30px;
}

.pic-presentation, .sec-picture-container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.larger {
  margin-left: 10px;
  border-radius: 4px;
  background-image: url(../public/img/itacare-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  flex-grow: 4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.small {
  border-radius: 4px;
  margin-left: 10px;
  background-image: url(../public/img/itacare-01.jpg);
  background-repeat: no-repeat;
  height: 400px;
  flex-grow: 3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sec-picture-container > .larger {
  background-image: url(../public/img/itacare-03.jpg);
}

.sec-picture-container > .small {
  background-image: url(../public/img/itacare-04.jpg);
}


@media (max-width: 700px) {
  .know-us {
    width: 100%;
  }
  .pic-presentation, .sec-picture-container {
    flex-direction: column;
  }
  .presentation > h1 {
    font-size: 4.3rem;
  }
  .presentation > p {
    font-size: 1.3rem;
  }
  .larger {
    margin: 10px;
  }
  .small {
    margin: 10px;
  }
}


section.features {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;
  height: 100vh;
  background-color: #191c03;
  justify-content: center;
  padding: 1.5rem;
}

section.features h1 {
  text-align: center;
  font-size: 2.1rem;
  margin-top: 30px;
  color: #f7bc70;
  margin-bottom: 50px;
}

section.features p {
  color: azure;
  text-align: center;
  max-width: 70%;
}

section.features hr {
  border-color: #f7bc70;
  opacity: 0.2;
  align-self: center;
  border-style:outset;  
  width: 25%;
  margin: 50px;
}

.features ul {
  display: flex;
  list-style: none;
  margin-top: 50px;
  margin-bottom: 50px;
  align-content: center;
}

.features ul li {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #f7bc70;
  margin: 0 15px;
}

.features ul li a i{
  color: #f7bc70;
  margin-bottom: 20px;
}

.features ul li h3 {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.features ul li p {
  text-align: center;
  font-size: 1.0rem;
  margin-bottom: 20px;
}

@media (max-width: 750px) {
  section.features {
    height: auto;
  }  
  .features ul {
    margin-top: 50px;
    flex-direction: column;
    max-width: 700px;
    align-items: center;
    text-align: center;
  }
  .features ul li {
    margin-bottom: 60px;
    max-width: 60%;
  }
}


section.newsletter {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  
}

.newsletter h1 {
  margin: 3rem 0;
  font-size: 3.5rem;
  color: #f7bc70;
}

.newsletter p {
  width: 80%;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 30px;
}

section.newsletter hr {
  border-color: #f7bc70;
  opacity: 0.2;
  align-self: center;
  border-style:outset;  
  width: 25%;
  margin: 50px;
}

.newsletter form {
  width: 50%;
  display: flex;
}

.newsletter form input {
  padding: 0 10px;
  flex: 7;
  height: 50px;
  border-style:inset;
  border-radius: 4px;
  border: 1px solid #f7bc70;
}

.newsletter form input::placeholder {
  font-size: 1.2rem;
  color:#f7bc70;
  opacity: 0.6;
}


.newsletter form button {
  flex: 2;
  background-color: #f7bc70;
  color: azure;
  padding: 0 20px;
  margin-left: 10px;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
}

@media (max-width: 700px) {
  .newsletter form {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  .newsletter form input {
    width: 80%;
    min-height: 50px;
    margin-bottom: 5px;
  }
  .newsletter form button {
    margin-left: 0;
   width: 80%;
   min-height: 50px;
  }
  .newsletter form input::placeholder {
    text-align: center;
  }  
  
}


footer {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #191c03;
  color: #f7bc70;
}

footer a {
  margin: 0 15px;
  font-size: xx-large;
  color: #f7bc70;
}

footer span {
  margin-top: 50px;
  font-size: 1.2rem;
  opacity: 0.8;
}
